<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col mb-2">
      <input type="text" class="form-control" placeholder="Name" formControlName="name">
      <div
        class="invalid-feedback d-block"
        *ngIf="nameCtrl.errors?.['required'] && nameCtrl.touched"
      >This field is required.</div>
    </div>
    <div class="col mb-2">
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        class="form-control"
        placeholder="Password"
        formControlName="password"
        (focus)="passwordVisible = true"
        (blur)="passwordVisible = false"
      >
      <div
        class="invalid-feedback d-block"
        *ngIf="passwordCtrl.errors?.['required'] && passwordCtrl.touched"
      >This field is required.</div>
    </div>
    <div class="col">
      <div class="row gx-1">
        <div class="col-auto mb-2">
          <button type="submit" class="btn btn-primary">{{password ? 'Update' : 'Add'}}</button>
        </div>
        <div class="col-auto mb-2" *ngIf="password">
          <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>
