<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <div
      class="invalid-feedback d-block"
      *ngIf="email.errors?.['required'] && email.touched"
    >This field is required.</div>
    <div
      class="invalid-feedback d-block"
      *ngIf="email.errors?.['email'] && email.touched"
    >The email is invalid.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
    <div
      class="invalid-feedback d-block"
      *ngIf="password.errors?.['required'] && password.touched"
    >This field is required.</div>
    <div
      class="invalid-feedback d-block"
      *ngIf="password.errors?.['minlength'] && password.touched"
    >The value should be at least {{passwordMinLength}} characters long.</div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid"
  >{{type === 'signIn' ? 'Login' : 'Register'}}</button>
</form>
